.container {
  margin: var(--navbar-height);
}

.main {
  padding-top: var(--spacing-lg);
  display: block;
  margin: 0 auto;
  margin-top: var(--navbar-height);
  font-size: var(--font-size-lg);
  font-weight: 300;
  color: var(--primary-earth);
}

@media (min-width: 768px) {
  .main {
    padding: var(--spacing-lg) 0 0;
    width: 650px;
  }
}

.link {
  color: var(--accent-terracotta);
  font-weight: 700;
}

.releaseLink {
  font-style: italic;
}

.link:hover {
  color: var(--accent-secondary);
}

/* @media (min-width: 768px) {
  .main {
    width: 750px;
  }
} */
